.App {
    min-height: 100vh;
    min-width: 100vh;
}

.App-header {
  background-color: #282c34;
  min-width: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: space-between;
}